asgiref==3.2.3
automium==0.2.6
automium-web==0.1.1
blueprint==3.4.2
cffi==1.13.1
click==6.7
cryptography==2.8
Django==3.0
Flask==1.0
Flask-Cors==3.0.8
Flask-SSLify==0.1.5
itsdangerous==0.24
Jinja2==2.9.6
legacy==0.1.6
MarkupSafe==1.0
pyasn1==0.3.7
pycparser==2.19
pyOpenSSL==19.0.0
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
Werkzeug==0.12.2
