{% extends 'polls/base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
<div>
    <article id="content" style="width: 80%; padding-left: 10%; padding-right: 10%;">
{% if goodsAtCart %}
    <ul style=" border-bottom: 2px solid #ccc;">
    {% for good in goodsAtCart %}
        <li style="display: flex; justify-content: space-between; padding-right: 5%; align-items: center">
            <div style="display: flex; justify-content: flex-start;  width: 100%">
                <img src="{{good.good_image}}" alt="Simply Easy Learning" width="200" height="200">
                <div style="padding-left: 5%; width: 100%">
                    <a href="{% url 'polls:detail' good.id %}"><h3>{{ good.good_name }}</h3></a>
                    <h4>{{good.good_description}}</h4>
                </div>
            </div>
            <h2>{{good.good_price}}</h2>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
        <div style="background-color: lightGreen; float: right; width: 10vw; height: 5vh; text-align: center">
            <h3 style="font-size: 1vw">Оформить заказ</h3>
</div>
    </article>

</div>
{% endblock %}

