{% extends 'polls/base.html' %}
{% block title %}Main{% endblock %}

{% block content %}

<div style="margin: 3%; text-align: center; font-size: 1vw;">
    <div style="display: flex; padding-left: 10%; padding-right: 10%; width: 80%; item-align: center">
        <a href="{% url 'polls:catalog'%}" style="width: 33%; padding: 5%; background-color: #D03D3D">
            <div >
                <h1>Смартфоны</h1>
            </div>
        </a>
        <div style="width: 33%; padding: 5%;  background-color: #496ADF">
            <h1>Ноутбуки</h1>
        </div>
        <div style="width: 33%; padding: 5%; background-color: #5BC636"><h1>Телевизоры</h1></div>

    </div>
    <div style="display: flex; padding-left: 10%; padding-right: 10%; width: 80%; item-align: center">
        <div style="width: 33%; padding: 5%; background-color: #31D9D9">
            <h1>Блендеры</h1>
        </div>
        <div style="width: 33%; padding: 5%;  background-color: #B03964">
            <h1>Холодильники</h1>
        </div>
        <div style="width: 33%; padding: 5%; background-color: #F0F424"><h1>Стиральная машина</h1></div>
    </div>
    <div style="display: flex; padding-left: 10%; padding-right: 10%; width: 80%; item-align: center">
        <div style="width: 33%; padding: 5%; background-color: #C73CB0">
            <h1>Компьютеры</h1>
        </div>
        <div style="width: 33%; padding: 5%;  background-color: #EC984B">
            <h1>Фотоаппараты</h1>
        </div>
        <div style="width: 33%; padding: 5%; background-color: #806ABD"><h1>Дроны</h1></div>
    </div>
</div>
{% endblock %}